/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    background: url("Wireframe-Earth-Globe.png") no-repeat center center fixed;
}

textarea {
    resize: vertical;
}

.page-messages {
    padding-right: 50px;
    padding-left: 50px;
}

.button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 7px 57px;
    background-color: darkslategray;
    color: #F7F7F7;
    border: none;
    font-style: oblique;
}
.button:hover {
    background-color: #608181;
    color: #F7F7F7;
}

.delete-btn {
     background-color: #df4845;
     color: #F7F7F7;
     border: none;
     font-style: oblique;
 }

.delete-btn:hover {
    background-color: #c32820;
    color: #F7F7F7;
}

.btn-cancel {
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 7px 20px;
    background-color: #dfdfdf;
    border: none;
    font-style: oblique;
}

.btn-cancel:hover {
    background-color: #cccccc;
}

.btn-update {
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 7px 57px;
    background-color: #197fb4;
    color: #F7F7F7;
    border: none;
    font-style: oblique;
}

.btn-update:hover {
    background-color: #51a0c9;
    color: #F7F7F7;
}

.dropdown {
    background-color: white;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    display:none;
    height:100%;
    position:center;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
}
.hover_bkgr_fricc > div {
    background-image: url("help_pic.png");
    background-color: white;
    background-size: 600px 350px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    max-width: 850px;
    max-height: 550px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
}
.popupCloseButton {
    background-color: #F7F7F7;
    border-radius: 50px;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 25px;
    line-height: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */
