/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
    background: url("Wireframe-Earth-Globe.png") no-repeat center center fixed;
}

textarea {
    resize: vertical;
}

.page-messages {
    padding-right: 50px;
    padding-left: 50px;
}

.button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 7px 57px;
    background-color: darkslategray;
    color: #F7F7F7;
    border: none;
    font-style: oblique;
}
.button:hover {
    background-color: #608181;
    color: #F7F7F7;
}

.delete-btn {
     background-color: #df4845;
     color: #F7F7F7;
     border: none;
     font-style: oblique;
 }

.delete-btn:hover {
    background-color: #c32820;
    color: #F7F7F7;
}

.btn-cancel {
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 7px 20px;
    background-color: #dfdfdf;
    border: none;
    font-style: oblique;
}

.btn-cancel:hover {
    background-color: #cccccc;
}

.btn-update {
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 7px 57px;
    background-color: #197fb4;
    color: #F7F7F7;
    border: none;
    font-style: oblique;
}

.btn-update:hover {
    background-color: #51a0c9;
    color: #F7F7F7;
}

.dropdown {
    background-color: white;
}
