// Place all the styles related to the Explore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-xs-6 {
  padding-left: 50px;
  padding-right: 50px;
}
.col{
  padding-left: 50px;
  padding-right: 50px;
}