// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.title {
  width: 50%;
  height: auto;
  padding-bottom: 50px;
}

.login-btn-container{
  border-top: none;
}

.home-btn {
  width: 35%;
}